//colori principali
$primary-color-1: #8e201b;
$primary-color-2: rgb(3, 110, 3);
//colori secondari

$secondary-color-1: rgb(227, 77, 77);
$secondary-color-2: rgb(45, 143, 45);

//scala di grigi
$g-1: white;
$g-2: rgb(175, 171, 171);
$g-3: rgb(128, 125, 125);
$g-4: rgb(54, 52, 52);
