<div class="container">
    <p-sidebar [(visible)]="sidebarVisible">
        <h3>Sidebar</h3>
        <div routerLink="/preferiti" class="pointer">
            <p class="d-inline">Vai ai preferiti</p> <i class="pi pi-heart-fill mx-2" style="font-size: 1rem"></i>
        </div>
    </p-sidebar>

    <div class="row">
        <div class="col-12">
            <h2>Dati Utente:</h2>
        </div>
    </div>
    <div class="row mt-7">
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <!-- <p-button (onClick)="sidebarVisible = true" icon="pi pi-search" severity="secondary" />
                <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="success" /> -->
                <p-button icon="pi pi-search" [rounded]="true" severity="success" [outlined]="true" size="large"
                    (onClick)="sidebarVisible = true" />

            </div>

        </div>
        <div class="col-12">
            <div>
                <p> <strong>ID:</strong> {{user?._id}}</p>
                <p> <strong>DATA CREAZIONE:</strong> {{user?.createdAt | date}}</p>
                <p> <strong>EMAIL:</strong> {{user?.email}}</p>
                <p><strong>NOME: </strong> {{user?.name}}</p>
                <p> <strong>NOTE:</strong> {{user?.note}}</p>
                <p>PASSWORD: {{user?.password}}</p>
                <p> RUOLO: {{user?.role}}</p>
                <p> AGGIORNATO: {{user?.updatedAt | date}}</p>
            </div>

        </div>
    </div>
</div>