<div class="container-fluid">
  <div class="row">
    <div class="my-3">
      <h2 class="text-center fw-bolder mt-5">
        Le nostre Ricette: {{ titoloRicevuto }}
      </h2>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let ricetta of ricette">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 focused-style">
        <!-- card che riceve la singola ricetta -->
        <app-card-ricetta
          [ricettaFiglio]="ricetta"
          (msgOutput)="riceviEvento($event)"
        ></app-card-ricetta>
      </div>
    </ng-container>
  </div>
</div>
