<div class="container-fluid">
  <p-toast key="msgPostRicetta" />
  <div *ngIf="isLoggedAndAdmin()" class="row align-items-center mt-5 mb-3">
    <div class="col-8">

      <div class="my-3">
        <h2 class="text-center fw-bolder mt-5">
          Le nostre Ricette: {{ titoloRicevuto }}
        </h2>
      </div>
    </div>

    <div class="col-4">
      <div>

        <button class="btn btn-primary mt-4" (click)="showModal()"> Inserisci nuova ricetta</button>
        <!-- <p-button class=" btn btn-primary mt-4" (onClick)=" showModal()" label="Inserisci nuova ricetta" /> -->
      </div>
    </div>
  </div>

  <div [ngStyle]="{'margin-top' : isLoggedAndAdmin() ? '0' : '4rem'}" class="row mt-6">

    <ng-container *ngFor="let ricetta of ricette | slice : (page - 1) * size : page*size">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 focused-style">
        <!-- card che riceve la singola ricetta -->
        <app-card-ricetta [ricettaFiglio]="ricetta" (msgOutput)="riceviEvento($event)"></app-card-ricetta>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <!-- <div class="card flex justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="size"
        [totalRecords]="totaleRicette?.length" [rowsPerPageOptions]="[ 2, 4, 5]" />
    </div> -->
    <div class="card flex justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="4" [totalRecords]="ricette.length"
        [rowsPerPageOptions]="[2, 4, 5]" />
    </div>

    <div>
      page: {{page}}
      size: {{size}}
    </div>
  </div>

  <!-- modale che apre il form per inserire dati e creare una nuova ricetta  -->
  <app-modale (inviaEsitoPostRicetta)="getEsitoPostRicetta($event)" [visible]="visible"
    (visibleEmitter)="handleHideModal($event)"></app-modale>
</div>