<div class="container">
  <div class="row">
    <i class="pi pi-arrow-left arrow-color pointer" routerLink="/ricette"></i>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <p-card [header]="ricetta.title" class="m-3 rounded-4 pointer">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            [src]="giveDefaultImageIfNotPresent(ricetta.image)"
            class="rounded-4 img-style"
          />
        </ng-template>

        <ng-template pTemplate="body">
          <!-- Contenuto personalizzato del body della card -->
          <p>{{ ricetta.description }}</p>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="d-flex">
            <span class="ms-auto">Ricetta creata in data: </span>
            <p class="m-0 fw-bolder ms-1">{{ ricetta.date }}</p>
          </div>
          <div class="d-flex">
            <span>Difficoltà: </span>
          </div>
          <img
            class="dim-stars"
            [src]="getDifficolta(ricetta)"
            [alt]="getDescription(ricetta)"
          />
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
