<div class="container">
  <div class="row">
    <i class="pi pi-arrow-left arrow-color pointer" routerLink="/ricette"></i>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <p-card [header]="ricetta.title" class="m-3 rounded-4 pointer">
        <ng-template pTemplate="header">
          <img
            alt="Card"
            [src]="giveDefaultImageIfNotPresent(ricetta.image)"
            class="rounded-4 img-style"
          />
        </ng-template>

        <ng-template pTemplate="body">
          <!-- Contenuto personalizzato del body della card -->
          <p>{{ ricetta.description }}</p>
          <p class="m-0 fw-bolder">{{ ricetta.date }}</p>
        </ng-template>
        <!-- 
        <ng-template pTemplate="footer">
          <div class="flex mt-1">
            <button
              routerLink="/dettaglio/{{ ricettaFiglio._id }}"
              class="btn btn-primary d-inline-block"
            >
              Vai al dettaglio Ricetta
            </button>
            <div
              [ngStyle]="{
                border:
                  '0.125em solid ' + isAvailable(ricettaFiglio.published)[2]
              }"
              class="text-center d-block my-3 ms-5"
            >
              <p
                [ngStyle]="{
                        color: isAvailable(ricettaFiglio.published)[1] ? 'green' : 'red',
                      }"
                class="txt m-0"
              >
                {{ isAvailable(ricettaFiglio.published)[0] }}
              </p>
            </div>
          </div>
        </ng-template> -->
      </p-card>
    </div>
  </div>
</div>
