@import "../../../styles/colori.scss";

.arrow-color {
  color: $primary-color-1;
  font-size: 5rem;
  margin-block-start: 2rem;
}

.arrow-color:hover {
  color: $secondary-color-1;
}

.dim-stars {
  width: 150px;
}
