<div class="container">
  <div *ngIf="ricetta; else noDataDiv">
    <div class="row">
      <div class="col-12">
        <div class="mt-5">
          <i class="pi pi-arrow-left arrow-color pointer" routerLink="/ricette"></i>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <p-card [header]="ricetta.title" class="m-3 rounded-4 pointer">
          <ng-template pTemplate="header">
            <img alt="Card" [src]="giveDefaultImageIfNotPresent(ricetta.image)" class="rounded-4 img-style" />
          </ng-template>

          <ng-template class="border" pTemplate="body">
            <!-- Contenuto personalizzato del body della card -->
            <!-- <p>{{ ricetta.description | slice : 0 : 150 }}...</p> -->
            <p [innerHTML]="accorciaDescrizione(ricetta.description)"></p>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="d-flex">
              <span class="ms-auto">Ricetta creata in data: </span>
              <p class="m-0 fw-bolder ms-1">{{ ricetta.createdAt }}</p>
            </div>
            <div class="d-flex">
              <span>Difficoltà: </span>
            </div>
            <img class="dim-stars" [src]="getDifficolta(ricetta)" [alt]="getDescription(ricetta)" />
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
  <ng-template #noDataDiv>
    <p class="alert alert-warning" role="alert">
      Spiecente, nessuna ricetta trovata.
    </p>
  </ng-template>
</div>