<div class="mt-7 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <p-toast key="removePreferiti" />

            <ng-container *ngIf="this.ricette?.length; else noData">

                <ng-container *ngFor="let ricetta of ricette; trackBy: trackById">

                    <div class="col-md-8">

                        <!-- singola ricetta -->
                        <div class="card my-2 focused-style">
                            <div class="card-header d-flex align-items-center">
                                <h3>{{ricetta.title}}</h3>
                                <div (click)="removePreferiti(ricetta)" class="ms-auto pointer">
                                    <i class="pi pi-trash mx-2" style="font-size: 2rem;color: rgb(230, 27, 27)"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <img class=" circle rounded rounded-circle m-2" src="{{ricetta.image}}"
                                    alt="{{ricetta.description}}">
                            </div>
                        </div>

                    </div>


                </ng-container>

            </ng-container>



            <ng-template #noData>

                <ng-container *ngIf="this.hideProgressBar">
                    <p>Nessun preferito salvato.</p>
                </ng-container>

                <ng-container *ngIf="!this.hideProgressBar">
                    <p-progressBar #progressBar mode="indeterminate" [style]="{ height: '6px' }" />
                </ng-container>

            </ng-template>

        </div>
    </div>
</div>