<div class="row">
  <div [ngClass]="{ 'disabled-card': !isAvailable(ricettaFiglio.published)[1] }" class="focused-style">
    <!-- <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 focused-style"> -->
    <p-card [header]="ricettaFiglio.title" class="m-3 rounded-4 pointer">
      <ng-template pTemplate="header">
        <img (click)="inviaTitolo(ricettaFiglio.title)" alt="Card"
          [src]="giveDefaultImageIfNotPresent(ricettaFiglio.image)" class="rounded-4 img-style" />
      </ng-template>

      <ng-template pTemplate="body">
        <!-- Contenuto personalizzato del body della card -->
        <p [innerHTML]="accorciaDescrizione(ricettaFiglio.description)"></p>
        <p class="m-0 fw-bolder">{{ formatDate(ricettaFiglio.createdAt) }}</p>
      </ng-template>

      <ng-template pTemplate="footer">
        <div class="flex mt-1">
          <button routerLink="/ricette/dettaglio/{{ ricettaFiglio.title }}/{{page}}/{{
              ricettaFiglio._id
            }}" class="btn btn-primary d-inline-block">
            Vai al dettaglio Ricetta Da Ricette
          </button>
          <button routerLink="dettaglio/{{ ricettaFiglio.title }}/{{page}}/{{
              ricettaFiglio._id
            }}" class="btn btn-primary d-inline-block">
            Vai al dettaglio Ricetta Da Home
          </button>

          <div [ngStyle]="{
              border: '0.125em solid ' + isAvailable(ricettaFiglio.published)[2]
            }" class="text-center d-block my-3 ms-5">
            <p [ngStyle]="{
                  color: isAvailable(ricettaFiglio.published)[1] ? 'green' : 'red',
                }" class="txt m-0">
              {{ isAvailable(ricettaFiglio.published)[0] }}
            </p>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>