<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mt-6">
                <div class="d-flex flex-column align-items-center m-5 p-5">
                    <h2> Stai per cancellare Il prodotto <strong> {{nomeRicetta}}</strong>, sei sicuro ?</h2>
                    <div class="mt-4">
                        <button routerLink="/ricette/dettaglio/{{idRicetta}}" pButton pRipple label="Torna indietro"
                            class="p-button-success">
                        </button>
                        <button (click)="deleteRicetta()" pButton pRipple label="Cancella ricetta"
                            class="p-button-danger">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>