
.carousel-caption{
    font-family: "Homemade Apple", serif;
    font-size: 2.5rem;
    text-shadow: 8px 3px 3px white;
    color: black;
    font-weight: bolder;
    p{
        font-size: 1rem;
    }
}

.single-carousel-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
