<section class="m-5">
  <div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black mt-5" style="border-radius: 25px">
          <div class="card-body p-0">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Registrazione
                </p>

                <form
                  class="mx-1 mx-md-4"
                  [formGroup]="form"
                  (ngSubmit)="onSubmit()"
                >
                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <label class="form-label" for="form3Example1c"
                        >Nome</label
                      >
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control"
                        name="name"
                        formControlName="name"
                      />
                      <p
                        class="isDanger m-0"
                        *ngIf="
                          !form.get('name')?.valid && form.get('name')?.touched
                        "
                      >
                        Il campo nome è obbligatorio.
                      </p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <label class="form-label" for="form3Example4c"
                        >Email</label
                      >

                      <input
                        type="email"
                        id="form3Example3c"
                        class="form-control"
                        name="email"
                        formControlName="email"
                      />
                      <p
                        class="isDanger m-0"
                        *ngIf="
                          form.controls.email.hasError('required') &&
                          form.get('name')?.touched
                        "
                      >
                        Il campo email è obbligatorio.
                      </p>
                      <p
                        class="isDanger m-0"
                        *ngIf="form.controls.email.hasError('email')"
                      >
                        Il campo email deve contenere un indirizzo valido.
                      </p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <label class="form-label" for="form3Example4c"
                        >Password</label
                      >
                      <!-- <input
                        type="password"
                        id="form3Example4c"
                        class="form-control"
                        name="password"
                        formControlName="password"
                      /> -->
                      <p-password
                        class="form-control w-100"
                        formControlName="password"
                        [toggleMask]="true"
                        name="password"
                        strongRegex=" ^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){6,16}$"
                      />
                      <p
                        class="isDanger m-0"
                        *ngIf="
                          form.controls.password.hasError('required') &&
                          form.get('password')?.touched
                        "
                      >
                        Il campo password è obbligatorio.
                      </p>
                      <p
                        class="isDanger m-0"
                        *ngIf="form.controls.password.hasError('pattern')"
                      >
                        Il campo password deve contenere almeno un numero, una
                        minuscola , lunghezza minima 6. max 15
                      </p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <!-- <i class="fas fa-key fa-lg me-3 fa-fw"></i> -->
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <label class="form-label" for="form3Example4cd"
                        >Conferma password</label
                      >
                      <input
                        type="password"
                        id="form3Example4cd"
                        class="form-control"
                        name="ripetiPassword"
                        formControlName="ripetiPassword"
                        (ngModelChange)="isConfermaPasswordMatch(form)"
                      />
                      <p
                        class="isDanger m-0"
                        *ngIf="
                          !isConfermaPasswordMatch(form) &&
                          form.get('ripetiPassword')?.touched
                        "
                      >
                        il campo non combacia con la password fornita.
                      </p>
                    </div>
                  </div>

                  <div
                    class="form-check d-flex flex-column justify-content-center mb-5"
                  >
                    <div>
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in
                        <a>Terms of service</a>
                      </label>
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form2Example3c"
                        name="accetto"
                        formControlName="accetto"
                      />
                    </div>
                    <p
                      class="isDanger m-0"
                      *ngIf="
                        !form.get('accetto')?.valid &&
                        form.get('accetto').touched
                      "
                    >
                      campo obbligatorio.
                    </p>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      data-mdb-button-init
                      data-mdb-ripple-init
                      class="btn btn-primary btn-lg"
                      [disabled]="!isFormvalid(form)"
                    >
                      Registrati
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="https://imgcdn.stablediffusionweb.com/2024/10/19/852fd265-c260-409f-82a1-feb1e35c1675.jpg"
                  class="imgStyle rounded rounded-end-4"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
