@import "../../../styles/colori.scss";

nav {
  background-color: $primary-color-1 !important;
}

header {
  background-color: $primary-color-1 !important;
  padding-inline-start: 15px;
}

.icona-cbando {
  width: 50px;
  margin-inline: 8px;
}

.colorato {
  color: $g-3;
}
